<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Joining now</title>
</head>
<body>
    <form method="POST" action="/user/new">
    <h3>Create new username</h3>
    <input type="text" placeholder = "enter username"   name   = "Username" />
    <br>
    <h3>Enter your email</h3>
    <input type="email" placeholder="enter you email" name = "email" />
    <br>
    <h3>Create a password</h3>
    <input type="password" placeholder="type password" name="password"/>
    <br><br>
    <button>Submit</button>
</form>
</body>
</html>
